
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Resenha Cultural</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <!-- http://dontpad.com/post-index  -->

    <partial name="Cabecalho" />
    <main>
        @RenderBody()
        <partial name="Lateral" />
    </main>
    <partial name="Rodape" />

    @RenderSection("Scripts", false)
</body>
</html>
